.userForm {
  border: 1px solid black;
  border-radius: 50%;
  width: 220px;
  padding:20px;
}
.container {
  width: 262px;
  border-radius: 50%;
  background-image: linear-gradient(white, blue);
  color:black;
}

.passConfirm {
  text-align: center;
}

h1 {
  text-align: center;
}

.submitBtn {
  background-color: gold;
}
.subBtn {
  text-align: center;
}